---
import moment from "moment";
import Layout from "../../layouts/Layout.astro";
import { fetchFromAPI } from "../../tools";

export async function getStaticPaths() {
  return await fetchFromAPI("gigs").then(function(items){
    return items.map((gig) => {
      return {
        params: {
          gig: gig.url.replace("/gigs/", "")
        },
        props: { gig },
      };
    });
  });

}

const { gig } = Astro.props;

const title = "Live at " + gig.location.name;
const date = moment(gig.startDate).format("MMMM Do YYYY");
const time = gig.startDate.split("T").slice(1);

// https://stackoverflow.com/a/7220510
const jsonLD = JSON.stringify(gig, null, 2);
---

<Layout title={title} jsonLD={jsonLD}>

  <dl>
    <dt>Date:</dt>
    <dd>{date}</dd>
    <dt>Time:</dt>
    <dd>{time}</dd>
    <dt>Location:</dt>
    <dd>{gig.location.address.streetAddress}</dd>

    {
      gig.performer instanceof Array && (
        <>
          <dt>With:</dt>
          <dd>
            <ul>
              {gig.performer
                .filter((act) => act.sameAs != "https://rawfunkmaharishi.uk/")
                .map((act) => (
                  <li>
                    <a href={act.sameAs}>{act.name}</a>
                  </li>
                ))}
            </ul>
          </dd>
        </>
      )
    }

    {
      Array.isArray(gig.sameAs) && (
        <>
          <dd>More info:</dd>
          <dt>
            <ul>
              {gig.sameAs
                .filter(
                  (url) => !url.startsWith("https://rawfunkmaharishi.uk/")
                )
                .map((url) => (
                  <li>
                    <a href={url}>{url.split("/").slice(2, 3)[0]}</a>
                  </li>
                ))}
            </ul>
          </dt>
        </>
      )
    }
  </dl>

  <div id="map"></div>
</Layout>

<script
  define:vars={{
    latitude: gig.location.geo.latitude,
    longitude: gig.location.geo.longitude,
  }}
>
  const map = L.map("map").setView([latitude, longitude], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  const marker = L.marker([latitude, longitude]).addTo(map);
</script>

<style>
  div#map {
    height: 200px;
    width: 50%;
    margin-inline: auto;
  }
</style>
