---
import Layout from "../../layouts/Layout.astro";
import { fetchFromAPI, getJSONLD, niceDate } from "../../lib/tools";

export async function getStaticPaths() {
  return await fetchFromAPI("gigs").then(function (items) {
    return items.map((gig) => {
      return {
        params: {
          gig: gig.url.replace("/gigs/", ""),
        },
        props: { gig },
      };
    });
  });
}

const { gig } = Astro.props;

const title = "Live at " + gig.location.name;
const date = niceDate(gig.startDate);
const time = gig.startDate.split("T").slice(1);

// const tiles = "Stamen.TonerLite"
// const tiles = "Stadia.AlidadeSmoothDark";
const tiles = "OpenStreetMap.Mapnik";

function fullAddress(gig) {
  var location = gig.location.name;

  if (gig.location.url) {
    var preamble = '<a href="';
    preamble += gig.location.url;
    preamble += '">';
    var postamble = "</a>";
    location = preamble + location + postamble;
  }

  var address = location + ', ' + gig.location.address.streetAddress + ', ' + gig.location.address.postalCode
  address = address.replaceAll(",", "<br>")  // in case there are embedded commas in the `streetAddress`

  return address;
}
---

<Layout title={title} jsonLD={getJSONLD(gig)}>
  <div class="gig">
    <dl>
      <dt>When:</dt>
      <dd>{time} on {date}</dd>
       <dt>Where:</dt>
      <dd set:html={fullAddress(gig)} />

      {
        gig.performer instanceof Array && (
          <>
            <dt>With:</dt>
            <dd>
              <ul>
                {gig.performer
                  .filter((act) => act.url != "https://rawfunkmaharishi.uk/")
                  .map((act) => (
                    <li>
                      <a href={act.url}>{act.name}</a>
                    </li>
                  ))}
              </ul>
            </dd>
          </>
        )
      }

      {
        Array.isArray(gig.sameAs) && (
          <>
            <dt>Whatever:</dt>
            <dd>
              <ul>
                {gig.sameAs
                  .filter(
                    (url) => !url.startsWith("https://rawfunkmaharishi.uk/")
                  )
                  .map((url) => (
                    <li>
                      <a href={url}>{url.split("/").slice(2, 3)[0]}</a>
                    </li>
                  ))}
              </ul>
            </dd>
          </>
        )
      }

      {
        gig.recordedIn && (
          <dt>Watch:</dt>
          <dd><a href={gig.url.replace("gigs", "videos")}>Video</a></dd>
        )
      }
    </dl>

    <div id="map"></div>
  </div>
</Layout>

<script
  define:vars={{
    venue: gig.location.name,
    latitude: gig.location.geo.latitude,
    longitude: gig.location.geo.longitude,
    tiles: tiles,
  }}
>
  const map = L.map("map").setView([latitude, longitude], 16);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);
  L.tileLayer.provider(tiles).addTo(map);

  L.marker([latitude, longitude])
    .addTo(map)
    .bindPopup("<span>" + venue + "</span>");
</script>

<style>
  dl {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }

  dt {
    text-align: right;
  }

  div#map {
    height: 50vh;
    width: 80%;
    margin-inline: auto;
  }
</style>
