---
interface Props {
  musician: Musician
}

const { musician } = Astro.props;

function openLink(musician: Musician) {
  return "<a href='" + musician.url + "' target='_blank'>";
}

function closeLink() {
  return "</a>";
}

function title(musician: Musician) {
  return musician.name + ", " + musician.knowsAbout
}

---

<div>
  {musician.url && <Fragment set:html={openLink(musician)} />}
  <img src={musician.image.contentUrl} title={title(musician)} />
  <h2>{musician.name}</h2>
  {musician.url && <Fragment set:html={closeLink()} />}
</div>

<style>
  h2 {
    font-size: 1.2rem;
  }
</style>
