---
const { musician } = Astro.props;

const title = musician.name + ", " + musician.knowsAbout;

function openLink(musician) {
  return "<a href='" + musician.url + "' target='_blank'>";
}

function closeLink() {
  return "</a>";
}
---

<div>
  {musician.url && <Fragment set:html={openLink(musician)} />}
  <img src={musician.image.contentUrl} title={title} />
  <h2>{musician.name}</h2>
  {musician.url && <Fragment set:html={closeLink()} />}
</div>

<style>
  div {
    height: 100%;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  img {
    height: 80%;
    margin-bottom: 0rem;
  }
</style>
