---
// https://codepen.io/Schepp/pen/WNbQByE
import RecordSlide from "./slides/RecordSlide.astro";
import MusicianSlide from "./slides/MusicianSlide.astro";
import EventSlide from "./slides/EventSlide.astro";
import PromoSlide from "./slides/PromoSlide.astro";

const { items, autoSlide } = Astro.props;

const autoSlideInterval = 5000;

function slideName(prefix, index, withHash = false) {
  var name = prefix + "-" + index;

  if (withHash) {
    name = "#" + name;
  }

  return name;
}
---

<ol class="main-carousel">
  {
    items.map((item) => (
      <li class="carousel-cell">
        {item["@type"] == "MusicAlbum" && <RecordSlide record={item} />}
        {item["@type"] == "Person" && <MusicianSlide musician={item} />}

        {item["@type"] == "MusicEvent" && (
          <EventSlide eventSet={item} dateFormat="dddd MMM Do" />
        )}

        {item["@type"] == "Video" && (
          <EventSlide eventSet={item} dateFormat="MMMM YYYY" type="videos" />
        )}

        {item["@type"] == "Promo" && <PromoSlide data={item} />}
      </li>
    ))
  }
</ol>

<script>
  var elem = document.querySelector(".main-carousel");
  var flkty = new Flickity(elem, {
    wrapAround: true,
    autoPlay: 5000,
  });
</script>

<style>
  li {
    margin-inline: 30%;
  }
</style>

<style is:global>
  .flickity-button {
    background-color: var(--colour-link);
  }

  .flickity-button:hover {
    background-color: var(--colour-hover);
  }

  .flickity-button:focus {
    outline: none;
    box-shadow: none;
  }

  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border-width: 1px;
    border-style:  solid;
    border-color:  var(--colour-link);
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: var(--colour-link);
  }
</style>
