---
const { page } = Astro.props;
const next = "»";
const prev = "«";
---

<div id="paginators">
  {
    (page.url.prev && <a href={page.url.prev}>{prev}</a>) || (
      <span class="dead">{prev}</span>
    )
  }
  {
    (page.url.next && <a href={page.url.next}>{next}</a>) || (
      <span class="dead">{next}</span>
    )
  }
</div>

<style>
  div {
    padding-top: 5rem;
    font-size: 2rem;
    grid-area: paginators;
    align-self: end;
  }

  @media only screen and (max-width: 600px) {
    div {
      text-align: center;
    }
  }

  .dead {
    color: var(--colour-grey);
  }
</style>
