---
import RecordSlide from "./slides/RecordSlide.astro";
import MusicianSlide from "./slides/MusicianSlide.astro";
import EventSlide from "./slides/EventSlide.astro";

import SliderScript from "./scripts/SliderScript.astro";
import NavButtons from "./NavButtons.astro";

const { items, slideType } = Astro.props;

const count = items.length;

function slideName(index) {
  return "slide-" + index;
}

const infinite = ["musician", "record"].includes(slideType);
---

<section>
  <NavButtons />
  <ul id="slides-container">
    {
      items.map((item, index) => (
        <li class="slide" id={slideName(index)}>
          <div>
            {slideType == "record" && <RecordSlide record={item} />}
            {slideType == "musician" && <MusicianSlide musician={item} />}
            {slideType == "gig" && (
              <EventSlide eventSet={item} dateFormat="dddd MMM Do" />
            )}
            {slideType == "video" && (
              <EventSlide eventSet={item} dateFormat="MMMM YYYY" />
            )}
          </div>
        </li>
      ))
    }
  </ul>
</section>

<SliderScript count={count} infinite={infinite} />

<style>
  :root {
    --width: 60vw;
  }

  @media only screen and (min-width: 600px) {
    :root {
      --width: 40vw;
    }
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  section {
    position: relative;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-inline: auto;
    width: var(--width);
  }

  li {
    display: none;
    position: relative;
  }
</style>
