---
import { format } from "date-fns";

import "@mdi/font/css/materialdesignicons.css";

import Layout from "../../../layouts/Layout.astro";
import VideoModal from "../../../components/VideoModal.astro";
import VideoModalLink from "../../../components/VideoModalLink.astro";
import { fetchFromAPI, streamingServices, getJSONLD } from "../../../lib/tools";

export async function getStaticPaths() {
  return await fetchFromAPI("records").then(function (records) {
    return records.map((record) => {
      return {
        params: {
          record: record["identifier"],
        },
        props: { record },
      };
    });
  });
}

const { record } = Astro.props;

const title = record.name + " by Raw Funk Maharishi";
const shortTitle = record.name;
const releaseDate = format(new Date(record.datePublished), "MMMM yyyy");

const services = streamingServices(record.sameAs);
---

<Layout
  title={title}
  shortTitle={shortTitle}
  withSharing={true}
  jsonLD={getJSONLD(record)}
>
  <section>
    <img src={record.image.contentUrl} />
    <ul>
      {services.map((service) => <VideoModalLink data={service} />)}
    </ul>

    <ol>
      {record.track.map((trk) => <li>{trk.name}</li>)}
    </ol>

    <h3>{releaseDate}</h3>
  </section>
  {services.map((service) => <VideoModal data={service} />)}

  <style>
    section {
      display: grid;
      justify-content: center;
      gap: 1rem;
    }

    img {
      width: 80dvw;
      height: 80dvw;
    }

    h3 {
      text-align: center;
    }

    ul {
      display: flex;
      font-size: 2rem;
      gap: 1rem;
      justify-content: center;
    }

    ol {
      margin-inline: auto;
      padding-left: 1rem;
      counter-reset: counter;
    }

    li {
      counter-increment: counter;
    }

    li::before {
      content: counter(counter) ": ";
      font-size: 0.7rem;
      display: inline-block;
      text-align: right;
      width: 1rem;
      margin-right: 0.2rem;
    }

    @media only screen and (min-width: 600px) {
      img {
        width: 50dvh;
        height: 50dvh;
      }
    }
  </style>
</Layout>
