---
import Layout from "../../layouts/Layout.astro";
import { fetchFromAPI, getJSONLD, niceDate } from "../../lib/tools";

export async function getStaticPaths() {
  return await fetchFromAPI("gigs")
    .then(function (gigs) {
      return gigs.reverse().filter((item) => "recordedIn" in item);
    })
    .then(function (gigs) {
      return gigs.map((video) => {
        return {
          params: {
            video: video.url.replace("/gigs/", ""),
          },
          props: { video },
        };
      });
    });
}

const { video } = Astro.props;

const title = "Recorded at " + video.location.name;
const date = niceDate(video.startDate, false, false);
---

<Layout title={title} jsonLD={getJSONLD(video)}>
  <div class="video">
    <div class="video-wrapper">
      <iframe src={video.recordedIn.embedUrl} allowfullscreen></iframe>
    </div>
    <h2>
      <a href={video.url}>
        {video.location.name}<br /> {date}
      </a>
    </h2>
  </div>
</Layout>

<style>
  h2 {
    text-align: center;
  }

  /* responsive video */
  /* https://techstacker.com/how-to-responsive-youtube-videos/ */
  .video-wrapper {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-inline: auto;
  }

  .video-wrapper::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
</style>
