---
import Layout from "../../../layouts/Layout.astro";
import { fetchFromAPI, getJSONLD, niceDate } from "../../../lib/tools";

export async function getStaticPaths() {
  return await fetchFromAPI("gigs")
    .then(function (gigs) {
      return gigs.reverse().filter((item) => "recordedIn" in item);
    })
    .then(function (gigs) {
      return gigs.map((video) => {
        return {
          params: {
            video: video.url.replace("/gigs/", ""),
          },
          props: { video },
        };
      });
    });
}

const { video } = Astro.props;

const date = niceDate(video.startDate, false, false);
const shortTitle = "Recorded at " + video.location.name;
const title = "Raw Funk Maharishi recorded at " + video.location.name + " on " + date
---

<Layout title={title} shortTitle={shortTitle} withSharing={true} jsonLD={getJSONLD(video)}>
  <section>
    <div>
      <iframe src={video.recordedIn.embedUrl} allowfullscreen></iframe>
    </div>
    <h2>
      <a href={video.url}>
        {video.location.name}<br />
        <time datetime={video.startDate}>
          {date}
          </time>
      </a>
    </h2>
  </section>
</Layout>

<style>
  h2 {
    text-align: center;
  }

  /* responsive video */
  /* https://techstacker.com/how-to-responsive-youtube-videos/ */
  div {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-inline: auto;
  }

  div::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
</style>
